<div class="container spacer">
<!-- pour gérer les erreur if error on affiche le message d'erreur -->
	<div class="alert alert-danger" *ngIf="error">
  		<strong>Error: </strong> {{ error }}
	</div>
	<div class="panel panel-primary">
	   <div class="panel-heading"> Liste d'hopital <span *ngIf="listHopitals">{{ listHopitals.length }}</span></div> 
	   <div class="panel-body">
	   
	   <div class="form-group">
	        <label> Mot cle : </label>
	        <input type="text" [(ngModel)]="motCle"/>
	        <button class="btn btn-primary espaceb" (click)="chercher()"> Chercher</button>  
	   </div>
	   
	      <table class="table table-striped">
		      <tr>
		         <th> ID </th><th> Nom </th><th> Adresse </th><th> Telephone </th><th> Email </th>		         	        
		      </tr>     
		      <tr *ngFor="let h of listHopitals">      
		         <td>{{h.idHopital}}</td>
		         <td>{{h.nom}}</td>
		         <td>{{h.adresse}}</td>
		         <td>{{h.telephone}}</td>
		         <td>{{h.email}}</td>	
		         <td><button class="btn btn-danger" (click)="supprimer(h.idHopital)">Supprimer</button>
		             <button class="btn btn-primary espaceb">Modifier</button></td>         
		      </tr>
	      </table>
	      <button class="btn btn-primary">Nouveau Hopital</button>
       
	   </div>
	</div>
</div>   
		
		